core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
inputs/cherry-leaves_dataset/cherry-leaves/test
inputs/cherry-leaves_dataset/cherry-leaves/train
outputs/v1/hypertuning/*
outputs/v1/powdery_mildew_detection_model.h5
outputs/v2/hypertuning/*
outputs/v2/powdery_mildew_detection_model.h5
outputs/v3/hypertuning/*
outputs/v3/powdery_mildew_detection_model.h5
outputs/v4/hypertuning/*
outputs/v4/powdery_mildew_detection_model.h5
outputs/v5/hypertuning/*
outputs/v5/powdery_mildew_detection_model.h5
outputs/v6/hypertuning/*
outputs/v6/powdery_mildew_detection_model.h5
outputs/v7/hypertuning/*
outputs/v7/powdery_mildew_detection_model.h5